.card {
  font-size: large;
  text-align: left;
  width: 3in;
  margin-left: 2in;
  margin-top: .25in;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: rgb(224, 215, 203)
}

.card h1 {
text-align: center;
font-style: italic;
margin-top: .5in;
padding-top: .25in;
color: rgb(29, 110, 202)

}


.card li {
  text-indent: .75in;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

Form {
  text-align: center;
}

